BasedOnStyle: Mozilla
ColumnLimit: 0
BreakConstructorInitializers: BeforeComma
AllowShortFunctionsOnASingleLine: InlineOnly
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 2
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None